@media only screen and (max-width : 1700px)
  .section-head
    .left-section
      margin-right: 0
  .section-2
    padding-right 0
    padding-left 50px
    .right-section
      padding-right 0
      .top-right-section
        .text-container
          strong
            margin-left 0
            margin-top 50px
  .section-3
    padding-left 100px
    padding-right 100px
  footer
    .wrapper
      width 1350px
      div
        width 445px
@media only screen and (max-width : 1368px)
  .section-head
    .left-section
      margin-left: -100px
  .section-3
    padding-right 50px
    .right-section
      padding-top 100px
  footer
    .wrapper
      width 1150px
      div
        width 380px
        height 285px
      .left-footer
        padding-top 75px
      .center-footer
        .left
          padding-top 15px
      .center-footer
        .right
          img
            width 150px
      .right-footer
        padding-top 15px
@media only screen and (max-width : 1200px)
  .section-2
    .left-section
      img
        width 300px
    .right-section
      .top-right-section
        img
          width 220px
  .section-3
    .left-section
      img
        width: 350px
    .right-section
      padding-top 0
  footer
    .wrapper
      width 850px
      div
        width 420px
      .center-footer
        &:after
          display: none
        .right
          img
            width 200px
      .right-footer
        display block
        width 850px
        margin-top 60px
@media only screen and (max-width : 992px)
  .section-head
    padding: 50px 50px 30px
    .left-section
      margin-left: -120px
      margin-right: -50px
  .section-2
    padding-top 30px
    text-align: center
    padding-left 0
    .left-section
      float none
    .right-section
      padding-left 10px
      .top-right-section
        img
          width 220px
  .section-3
    padding-left: 10px
    padding-right: 10px
    .right-section
      padding-left 20px

  footer
    .wrapper
      width 700px
      .left-footer, .center-footer, .right-footer
          display block
          width 100%
      .left-footer:after
        display none
      .left-footer
        padding-top 0
        height 170px
      .center-footer
        height 360px
        .right
          img
            margin-top 20px
            margin-left 90px
        .left
          padding-top 90px
      .left-footer, .center-footer
        border-bottom 1px solid #e5e5e5
@media only screen and (max-width : 768px)
  .section-head
    padding 0 10px
    .left-section
      float: none
      margin 0
      img
        width: 400px
    .right-section
      text-align center
      .section-header
        padding-left 0
        margin-bottom: 50px
  .section-2
    .right-section
      padding-top 20px
      padding-left 0
      .top-right-section
        img
          float none
        .text-container
          padding 10px
      .bottom-right-section
        margin 30px 10px
  .section-3
    text-align center
    .left-section
      float none
      img
        width 300px
  .collection
    text-align center
    padding-left 10px
    padding-right 10px
  footer
    .wrapper
      width 450px
      .left-footer, .center-footer, .right-footer
        display block
        width 100%
      .left-footer
        padding-top 0
        height 150px
      .center-footer
        height 270px
        .right
          img
            width 150px
            margin-left 20px
        .left
          padding-top 50px
      .left-footer, .center-footer
        border-bottom 1px solid #e5e5e5
      .right-footer
        height 230px
    .footer-bottom
      .footer-menu
        margin-bottom 25px
@media only screen and (max-width : 480px)
  .section-head
    .left-section
      margin-top: -100px
      img
        width: 300px
  .collection
    h5
      font-size: 25 * $px_em
  footer
    .wrapper
      width 320px
@media only screen and (max-width : 320px)
  .section-head
    .left-section
      img
        width: 250px
///**/
//
//
///*==========  Mobile First Method  ==========*/
//
///* Custom, iPhone Retina */
//@media only screen and (min-width : 320px)
///**/
//
//
///* Extra Small Devices, Phones */
//@media only screen and (min-width : 480px)
///**/
//
//
///* Small Devices, Tablets */
//@media only screen and (min-width : 768px)
///**/
//
//
///* Medium Devices, Desktops */
//@media only screen and (min-width : 992px)
///**/
//
//
///* Large Devices, Wide Screens */
//@media only screen and (min-width : 1200px)

//@media only screen and (min-width : 1920px)
